In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia', 'divulgacao_dia_publicacao'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NÃO,NaT,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NÃO,NaT,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NÃO,NaT,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NÃO,NaT,0

In [3]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [4]:
df.loc[30:100]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
30,39849,39849,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-23,03:30:00,NÃO,NaT,0
31,39323,39323,ACIDENTE,CASIMIRO DE ABREU,RJ,****,2010-01-24,16:15:00,NÃO,NaT,0
32,39318,39318,ACIDENTE,SENADOR JOSÉ PORFÍRIO,PA,****,2010-01-25,16:20:00,SIM,2012-11-19,5
33,39848,39848,INCIDENTE,GUARULHOS,SP,SBGR,2010-01-25,17:05:00,NÃO,NaT,0
34,39322,39322,ACIDENTE,SÃO BERNARDO DO CAMPO,SP,****,2010-01-26,13:50:00,SIM,2011-07-21,2
...,...,...,...,...,...,...,...,...,...,...,...
96,41998,41998,INCIDENTE,CONFINS,MG,SBCF,2010-03-18,13:37:00,NÃO,NaT,0
97,41999,41999,INCIDENTE,GUARULHOS,SP,SBGR,2010-03-18,03:00:00,NÃO,NaT,0
98,40088,40088,ACIDENTE,UIRAMUTÃ,RR,****,2010-03-19,13:10:00,SIM,2011-07-21,3
99,40148,40148,ACIDENTE,CAMPO GRANDE,MS,****,2010-03-19,19:30:00,SIM,2011-08-01,1
100,40170,40170,INCIDENTE,MANAUS,AM,SBEG,2010-03-20,11:00:00,NÃO,NaT,0

In [5]:
df.loc[[10, 40]]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,NÃO,NaT,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,NÃO,NaT,0

In [6]:
df.loc[:,"ocorrencia_cidade"]

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [7]:
df.codigo_ocorrencia.is_unique

True

In [8]:
df.set_index('codigo_ocorrencia', inplace=True)

In [9]:
df.head()

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
codigo_ocorrencia,,,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NÃO,NaT,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NÃO,NaT,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NÃO,NaT,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,2019-10-28,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NÃO,NaT,0

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [12]:
df.head(10)

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,NÃO,NaT,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NÃO,NaT,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NÃO,NaT,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,SIM,2019-10-28,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NÃO,NaT,0
5,39807,INCIDENTE,SALVADOR,BA,<NA>,2010-01-06,17:53:00,NÃO,NaT,0
6,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,NÃO,NaT,0
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,SIM,2011-07-21,3
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,SIM,2011-06-30,2
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,NÃO,NaT,0

In [13]:
df.replace(['###!', '**', '####', '****', '*****', 'NULL'], pd.NA, inplace=True)

In [14]:
df

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,NÃO,NaT,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NÃO,NaT,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NÃO,NaT,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,SIM,2019-10-28,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NÃO,NaT,0
...,...,...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,NÃO,NaT,0
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,NÃO,NaT,0
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,NÃO,NaT,0
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,NÃO,NaT,0
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,NÃO,NaT,0

In [15]:
df.isna().sum()

codigo_ocorrencia1                   0
ocorrencia_classificacao             0
ocorrencia_cidade                    0
ocorrencia_uf                        1
ocorrencia_aerodromo              2349
ocorrencia_dia                       0
ocorrencia_hora                      1
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         4258
total_recomendacoes                  0
dtype: int64

In [16]:
df.isnull()

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes
0,False,False,False,False,True,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
5747,False,False,False,False,False,False,False,False,True,False
5748,False,False,False,False,True,False,False,False,True,False
5749,False,False,False,False,False,False,False,False,True,False
5750,False,False,False,False,True,False,False,False,True,False
5751,False,False,False,False,False,False,False,False,True,False